<div>
  <h1>Register as a new user</h1>
  <form #registrationForm="ngForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Username</label>
      <input type="text" [(ngModel)]="customer.username" id="username" name="username" >
    </div>
    <div>
      <label for="email">Email</label>
      <input type="text" [(ngModel)]="customer.email" id="email" name="email" required>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" [(ngModel)]="customer.password" id="password" name = "password" required>
    </div>
    <button type="submit">Register</button>
  </form>
</div>
